body {
    font-family: 'Roboto', Arial, sans-serif;
    background: linear-gradient(135deg, #4caf50, #2c6a5d);
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .confirmation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 20px;
  }
  
  .confirmation-card {
    background: #ffffff;
    color: #333;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    
    animation: fadeIn 1s ease-in-out;
  }
  
  .confirmation-icon {
    font-size: 60px;
    color: #4caf50;
    margin-bottom: 15px;
  }
  
  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    
  }
  
  p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .order-details {
    background: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .order-details h2 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
  }

  .order-details p {
    text-align: left; /* Alinea el texto a la izquierda */
    margin: 0; /* Opcional: Elimina el margen por defecto */
    padding: 5px 0; /* Opcional: Agrega espacio entre párrafos */
  }
  
  .btn-primary {
    background: linear-gradient(135deg, #4caf50, #2c6a5d);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }
  
  .btn-primary:hover {
    background: linear-gradient(135deg, #2c6a5d, #4caf50);
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  