<div class="mascotas-container">
    <div class="Titulo">
        <h2>Mascotas</h2>
    </div>

    <div class="mascotas-subox">
        <div class="mascotas-cards">
            @for (mascota of mascotas; track mascota.id) {
            <div class="card mb-3 petcard" style="max-width: 80%; margin: auto;">
                <div class="row g-0">
                    <div class="col-md-3"> <!-- Imagen ocupa 3/12 del ancho total -->
                        <img [src]="'mascotas/' + mascota.especie.toLocaleLowerCase() + '.png'" class="img-fluid rounded-start"
                            alt="{{ mascota.especie.toLocaleLowerCase() }}" />
                    </div>
                    <div class="col-md-9 d-flex flex-column justify-content-between">
                        <!-- Contenido ocupa 9/12 del ancho -->
                        <div class="card-body">
                            <h5 class="card-title">{{ mascota.nombre }}</h5>
                            <p class="card-text">{{ mascota.edad }} años - {{ mascota.raza }}
                        </div>
                        <div class="card-footer w-100 text-end">
                            <a (click)="editarMascota(mascota.id)"> <i class="fa-solid fa-pen"
                                    style="color: #020202;"></i> </a>
                            <a (click)="borrarMascota(mascota.id)"><i class="fa-solid fa-eraser"
                                    style="color: #000000;"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            } @empty {
            <p>No tienes mascotas agregadas. 😔</p>
            }

        </div>

        <!-- Esquina inferior -->
        <a (click)="crearMascota()" class="link"><i class="fa-solid fa-circle-plus" style="color: #231f20;"></i></a>
    </div>
</div>