/* Estilo para el contenedor principal */
.mascotas-container {
    display: flex;
    flex-direction: column; /* Organiza los elementos en columna */
    align-items: center; /* Centra los elementos horizontalmente */
    padding: 20px;
    background-color: #f0f0f0; /* Fondo claro */
    overflow: hidden; /* Evita que elementos se salgan */
    box-sizing: border-box; /* Asegura que el padding no exceda el ancho/alto */
}

/* Estilo para el título */
.titulo h2 {
    margin-bottom: 20px; /* Espacio entre el título y la caja */
    color: #333;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Estilo para la caja con bordes redondeados */
.mascotas-subox {
    background-color: #D9A273;
    padding: 20px;
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para profundidad */
    width: 100%; /* Ocupa todo el ancho del contenedor */
    max-width: 1200px; /* Ancho máximo */
    text-align: center;
    font-family: Arial, sans-serif;
    position: relative;
    overflow-y: auto; /* Agrega un scroll si el contenido excede el espacio */
    box-sizing: border-box;
}

/* Estilo para el contenido dentro de la caja */
.mascotas-subox h2 {
    margin-bottom: 15px;
    color: #333;
}

.mascotas-subox p {
    color: #666;
}

/* Estilo para el enlace */
.link {
    position: absolute;
    bottom: 10px; /* Ubica el enlace en la parte inferior */
    right: 10px; /* Ubica el enlace en la parte derecha */
    color: #007bff; /* Color azul */
    text-decoration: none;
    font-size: 50px;
}

.link:hover {
    text-decoration: underline; /* Efecto hover */
}

@font-face {
    font-family: 'KyivTypeTitling';
    src: url(../../../../../assets/css/fonts/kyiv-type-titling/KyivTypeTitling-Heavy.otf);
}

.petcard .col-md-3 img {
    height: 100%; /* Para que ocupe todo el alto del contenedor */
    object-fit: cover; /* Para que se recorte sin distorsionarse */
}

.petcard {
    background-color: rgba(217, 217, 217, 0.6);
}

.petcard h5 {
    font-family: 'KyivTypeTitling', sans-serif;
    color: rgba(115, 66, 38, 0.9);
}

.card-footer {
    background-color: rgba(217, 217, 217, 0.537);
}

.card-footer a {
    font-size: 30px;
}

/* Ajustes de responsividad */
@media (max-width: 768px) {
    .mascotas-subox {
        padding: 15px;
    }
    .petcard .col-md-3 img {
        height: auto;
    }
}
