<div class=Titulo>
    <h2>Mis Contratos</h2>
</div>
<div class="container">
    @for(contrato of contratos; track contrato.id){

    <div class="card">
        <div class="card-body">
            <span class="tag" [ngClass]="{
                        'tag-teal': contrato.estado === 'Activo',
                        'tag-purple': contrato.estado === 'Pendiente',
                        'tag-pink': contrato.estado === 'Finalizado'
            }">
                {{ contrato.estado }}
            </span>
            <h4>{{contrato.servicioTipoServicio}}</h4>
            <p>
                {{contrato.detalles}}
            </p>
            <p>
                Precio final del contrato: S/. {{contrato.servicioPrecio}}
            </p>
            <div class="user">
                <img src="https://upload.wikimedia.org/wikipedia/commons/4/48/Outdoors-man-portrait_%28cropped%29.jpg"
                    alt="" />
                <div class="user-info">
                    <h5>{{contrato.usuarioNombreComplt}}</h5>
                    <small>{{contrato.duracionContrato}} de contrato</small>
                </div>
            </div>
        </div>
    </div>

    }@empty {
    <p> Estamos en busqueda de contratos 🧐</p>
    }

</div>

<div class="plus">
    <a class="link "><i class="fa-solid fa-circle-plus" style="color: #231f20;"></i></a>
</div>