@import url('https://fonts.googleapis.com/css2?family=Keania+One&family=Lateef:wght@200;300;400;500;600;700;800&family=Ledger&family=Lemon&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.Titulo h2 {
    font-family:  "Keania One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    padding: 20px;
    color: rgba(115,66, 38, 0.9)
}

* {
    box-sizing: border-box;
    text-align: center;
  }
  body {
    background-color: #f3fbfb;
    font-family: "Open Sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 940px;
    margin: auto;
  }
  .card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
  }
  .card-header img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .card-body {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    min-height: 250px;
  }
  .tag {
    background-color: #ccc;
    color: #fff;
    border-radius: 50px;
    font-size: 12px;
    margin: 0;
    padding: 2px 10px;
    text-transform: uppercase;
  }

  
  .tag-teal {
    background-color: #92d4e4;
  }
  .tag-purple {
    background-color: #3d1d94;
  }
  .tag-pink {
    background-color: #c62bcd;
  }

  .tag-red{
    background-color: red;
  }

  .card-body h4 {
    margin: 10px 0;
  }
  .card-body p {
    font-size: 14px;
    margin: 0 0 20px 0;
    font-weight: 500;
    color: rgb(70, 68, 68);
  }
  .user {
    display: flex;
    margin-top: auto;
  }
  .user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
  }
  .user-info h5 {
    margin: 0;
  }
  .user-info small {
    color: #888785;
  }

  .tag-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
  }
  
  .tagge {
    background-color: #e48c8c;
    color: #fff;
    border-radius: 50px;
    font-size: 12px;
    padding: 2px 10px;
    text-transform: uppercase;
    text-decoration: none; /* Quita el subrayado en el enlace */
  }
  
  .aceptar {
    margin-left: auto;
    background-color: #087e2f;
    text-decoration: none; /* Quita el subrayado en el enlace */
  }

  .tagge:hover {
    opacity: 0.8; /* Agrega un pequeño efecto en el hover si deseas */
  }