<div class=Titulo>
    <h2>Mis Contratos</h2>
</div>
<div class="container">
    @for(contrato of contratos; track contrato.id){

    <div class="card">
        <div class="card-body">
            <span class="tag" [ngClass]="{
                        'tag-teal': contrato.estado === 'En proceso',
                        'tag-purple': contrato.estado === 'Aceptado',
                        'tag-pink': contrato.estado === 'Finalizado',
                        'tag-red': contrato.estado === 'Anulado'
            }">
                {{ contrato.estado }}
            </span>
            <h4>{{contrato.servicioTipoServicio}}</h4>
            <p>
                {{contrato.detalles}}
            </p>
            <p>
                Precio final del contrato: S/. {{contrato.pagoContrato}}
            </p>
            <div class="user">
                @if(contrato.picRutaUsuario){<img [src]="contrato.picRutaUsuario | apiImg " alt="Imagen del perfil" >} @else {<img [src]="'no-profile-picture.png'" alt="No-imagen">}
                <div class="user-info">
                    <h5>{{contrato.usuarioNombreComplt}}</h5>
                    <small>{{contrato.duracionContrato}} de contrato</small>
                </div>
            </div>
        </div>
    </div>

    }@empty {
    <p> Estamos en busqueda de contratos 🧐</p>
    }

</div>

