
<div class="servicio-dialog-container">
    @if(servicio.picRuta){<img [src]="servicio.picRuta | apiImg " alt="Imagen del servicio" class="servicio-image">} @else {<img [src]="'../../../../../../assets/img/no-image.png'" alt="aaaa" class="servicio-image">}
    <h5 class="servicio-title">{{servicio.tipo_servicio}}</h5>
    <p class="label">Descripción:</p>
    <p class="content">{{servicio.descripcion}}</p>
    <p class="label">Por:</p>
    <p class="content">{{servicio.cuidadorNombre}}</p>
    <p class="label">Precio:</p>
    <p class="content">S/.{{servicio.precio}}</p>
    <!-- Botones de Editar y Eliminar -->
  <div class="action-buttons">
    <button mat-button class="editar-button" (click)="editar(servicio.id)"><i class="fa-solid fa-pen-to-square" style="color: #084101; margin: 5px;"></i>Editar</button>

    <button mat-button class="eliminar-button" (click)="eliminar(servicio.id)"><i class="fa-solid fa-trash" style="color: #6e0202; margin: 5px;"></i>Eliminar</button>
  </div>
    <button mat-button class="contratar-button" (click)="cerrar()">Aceptar</button>
  </div>
