<div class="servicio-dialog-container">
    @if(servicio.picRuta){<img [src]="servicio.picRuta | apiImg " alt="Imagen del servicio" class="servicio-image">} @else {<img [src]="'no-image.png'" alt="aaaa" class="servicio-image">}
    <h5 class="servicio-title">{{servicio.tipo_servicio}}</h5>
    <p class="label">Descripción:</p>
    <p class="content">{{servicio.descripcion}}</p>
    <p class="label">Por:</p>
    <p class="content">{{servicio.cuidadorNombre}}</p>
    <p class="label">Precio:</p>
    <p class="content">S/.{{servicio.precio}}</p>
    <button mat-button (click)="crearContrato(servicio.id)" class="contratar-button">Contratar</button>
  </div>
