/* Estilo para el título del diálogo */
h2[mat-dialog-title] {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #4a4a4a;
    text-align: center;
    margin-bottom: 20px;
}

/* Contenido del diálogo */
mat-dialog-content {
    display: flex;
    flex-direction: column;
    gap: 16px; /* Espaciado entre los elementos */
    padding: 20px;
    background-color: #fafafa;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Campos del formulario */
mat-form-field {
    width: 100%;
    margin-bottom: 16px;
}

/* Apariencia moderna para los inputs */
mat-form-field input {
    font-size: 16px;
    padding: 8px;
}

/* Estilo de los botones de radio */
mat-radio-group {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

mat-radio-button {
    font-family: 'Roboto', sans-serif;
    color: #5c5c5c;
}

/* Estilo del select */
mat-select {
    font-size: 16px;
}

mat-option {
    font-size: 14px;
    color: #4a4a4a;
}

/* Botones de acción */
button {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #eeeeee;
}

/* Responsividad */
@media (max-width: 768px) {
    mat-dialog-content {
        padding: 10px;
    }
    
    h2[mat-dialog-title] {
        font-size: 20px;
    }
}