<div class=Titulo>
    <h2>Mis Contratos</h2>
</div>
<p><i class="fa-solid fa-triangle-exclamation fa-fade" style="color: #FFD43B;"></i>Recuerda que el precio final de los contratos puede cambiar de acuerdo al cuidador, ya que este puede incluir tarifarios adicionals. Por ejemplo, si fuera el caso a domicilio, el añadimiento de pasaje.<i class="fa-solid fa-triangle-exclamation fa-fade" style="color: #FFD43B;"></i></p>
<div class="container">
    @for(contrato of contratos; track contrato.id){

    <div class="card">
        <div class="card-body">
            <div class="tag-container">
                <span class="tag" [ngClass]="{
                    'tag-teal': contrato.estado === 'En proceso',
                    'tag-purple': contrato.estado === 'Aceptado',
                    'tag-pink': contrato.estado === 'Finalizado',
                    'tag-red': contrato.estado === 'Anulado'
                }">
                    {{ contrato.estado }}
                </span>
              @if (contrato.estado==='Aceptado' && contrato.pagoEstado==="PENDING") {
                <a class="tag tag-pago"  (click)="proceedToCheckout(contrato.id)">
                    Pagar
                </a>
              }
              </div>
            <h4>{{contrato.servicioTipoServicio}}</h4>
            <p>
                {{contrato.detalles}}
            </p>
            <p>
                Precio final del contrato: S/. {{contrato.pagoContrato}}
            </p>
            <div class="user">
                @if(contrato.picRutaCuidador){<img [src]="contrato.picRutaCuidador | apiImg " alt="Imagen del perfil">}
                @else {<img [src]="'no-profile-picture.png'" alt="No-imagen">}
                <div class="user-info">
                    <h5>{{contrato.cuidadorNombreComplt}}</h5>
                    <small>{{contrato.duracionContrato}} de contrato</small>
                </div>
            </div>
        </div>
    </div>

    }@empty {
    <p>Todavia no has contratado a nadie</p>
    }

</div>