<h2 mat-dialog-title> @if(id){Editar} @else {Crear} Servicio</h2>
<mat-dialog-content>
    <form [formGroup]="serviceForm" (ngSubmit)="onSubmit()">
        <p> @if (id) { Vamos a editar el servicio } @else {¿ Que servicio crearemos ?}</p>
        <mat-form-field appearance="outline">
            <mat-label>Tipo de Servicio</mat-label>
            <input matInput formControlName="tipo_servicio" />
            @if(controlHasError('email', 'required')) {
            <mat-error>Este campo es obligatorio</mat-error>
            }

        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Descripción</mat-label>
            <textarea matInput formControlName="descripcion"></textarea>
            @if(controlHasError('email', 'required')) {
            <mat-error>Este campo es obligatorio</mat-error>
            }

        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Precio</mat-label>
            <input matInput formControlName="precio" />
            @if(controlHasError('email', 'required')) {
            <mat-error>Este campo es obligatorio</mat-error>
            }

        </mat-form-field>

        <div class="file-upload w-100">
            <label>Imagen del servicio</label>
            <input
              type="file"
              class="form-control"
              accept=".png,.jpg,.jpeg"
              (change)="uploadFile($event, 'picRuta')"
            />
            <!-- <div class="small text-muted">
              Ruta actual: {{ form.get("coverPath")!.value }}
            </div> -->
          </div>

        <mat-dialog-actions appearance="outline">
            <button mat-button type="submit" [disabled]="serviceForm.invalid">@if (id){Editar Servicio} @else {Crear
                Servicio}</button>
            <button mat-button mat-dialog-close>Cancelar</button>
        </mat-dialog-actions>
    </form>
</mat-dialog-content>