/* navbar.component.css */
@import url('https://fonts.googleapis.com/css2?family=Keania+One&display=swap');

.navbar {
    background-color: #BF812E; /* Color de fondo */
}

.nav-link{
    text-align: left;
    font-family: 'Keania One', sans-serif;  
    color: #fff;
    padding-bottom: 9px;
    display: inline-block;
    text-decoration: none; 
    border-bottom: 2px solid transparent;
    font-size: 16px;
    margin: 10px;
}