
<div class = Titulo>
    <h2>Mis Servicios</h2>
</div>

<section class="contenedor" >
    @for(servicio of servicios; track servicio;  let idx = $index) {
    <div class="card">
        @if(servicio.picRuta){<img class= "image" [src]="servicio.picRuta | apiImg " alt="Imagen del servicio" >} @else {<img class="image" [src]="'../../../../../assets/img/no-image.png'" alt="No-imagen servicio">}
        <div class="text"  [ngClass]="{'gradient1': idx % 2 === 0, 'gradient2': idx % 2 !== 0}"></div>
        <div class="img-persona">
            @if(servicio.picRutaCuidador){<img [src]="servicio.picRutaCuidador | apiImg " alt="Imagen del perfil" >} @else {<img [src]="'no-profile-picture.png'" alt="No-imagen">}
        </div>
        <div class="main-text" >
            <p>{{servicio.tipo_servicio}}</p>
        </div>
        <div class="precio">
            <p>S/. {{servicio.precio}}</p>
        </div>
        
        <div class="card-btn">
            <a (click)="cargarServicioPorId(servicio.id)">Ver más</a>
        </div>
        
    </div>
    
    } @empty {
        <p>Todavia no has creado ningun servicio. ¿Creamos uno 😏?</p>
        }
        
</section>

<div class="plus">
    <a (click)="irCrearServicio()" class="link "><i class="fa-solid fa-circle-plus" style="color: #231f20;"></i></a>
</div>

