
<div class = Titulo>
    <h2>Mis Servicios</h2>
</div>
<section class="contenedor" >
    @for(servicio of servicios; track servicio;  let idx = $index) {
    <div class="card">
        <img mat-card-image [src]="servicio.picRuta | apiImg" [alt]="servicio.tipo_servicio" class="image">
        <div class="text"  [ngClass]="{'gradient1': idx % 2 === 0, 'gradient2': idx % 2 !== 0}"></div>
        <div class="img-persona">
            <img src="" alt="logo">
        </div>
        <div class="main-text" >
            <p>{{servicio.tipo_servicio}}</p>
        </div>
        <div class="precio">
            <p>S/. {{servicio.precio}}</p>
        </div>
        
        <div class="card-btn">
            <a (click)="cargarServicioPorId(servicio.id)">Ver más</a>
        </div>
        <i class="fa-solid fa-pen-to-square icon" (click)="editarServicio(servicio.id)"  style="color: #1d1007; margin-left: 8px;"></i>
    </div>
    
    } @empty {
        <p>Todavia no has creado ningun servicio. ¿Creamos uno 😏?</p>
        }
        
</section>

<div class="plus">
    <a (click)="irCrearServicio()" class="link "><i class="fa-solid fa-circle-plus" style="color: #231f20;"></i></a>
</div>

