<div class="main">
    <h1 class="TituloLugar">Nuestros Contactos</h1>
        
        <section class="contact-section">
            <div class="contact-form">
                <h6 class="SubTituloLugar">Escríbenos un correo</h6>
                <form>
                    <input type="text" placeholder="Nombre" required>
                    <input type="email" placeholder="Correo" required>
                    <textarea placeholder="Escribe tu solicitud..." required></textarea>
                    <button type="submit">Enviar</button>
                    <h1 class="Texto">Haznos una llamada</h1>
                    <div class="Texto">
                        <div class="contact-details">
                            <p>Estos son nuestros horarios:</p>
                            <p><strong>+51 967 768 834</strong></p>
                            <p>Lunes a Sábado<br>9:00 am - 6:00 pm</p>
                            <p>Domingos<br>9:00 am - 1:00 pm</p>
                        </div>
                    </div>
                </form>
            </div>

            <div class="contact-info">
                <div class="image-container">
                    <img src="img/gato-computadora_815088-234.avif" alt="Persona al teléfono con perro">
                </div>
            </div>
        </section>
</div>