<app-navbar-lp></app-navbar-lp>
<section class="main">
    <!-- Sección "Quienes Somos" -->
    <section class="Quienes-Somos">
        <div class="contenedor">
            <div class="foto">
                
                <img src="../../../../assets/img/Logo.png" alt="bglp">
            </div>
            <div class="texto">
                <h3 class="TituloLugar">¡Estás en el lugar ideal!</h3>
                <p>Gestiona el cuidado de tus mascotas, únete a comunidades y encuentra servicios de cuidado para tu amigo peludo.</p>
                <a href="#" class="btn">Empieza Ahora</a>
            </div>
        </div>
    </section>

    <!-- Sección "Servicios" -->
    <div class="servicios">
        <div class="contenedor">
            <h3 class="serviciosTitulo">Servicios</h3>
            <div class="contenedor-servi">
                <div class="servicio">
                    <div class="thumb">
                        <img src="../../../../assets/img/img//1.png" alt="Registros médicos">
                    </div>
                    <div class="descripcion">
                        <p class="nombre">Registros médicos</p>
                    </div>
                </div>
                <div class="servicio">
                    <div class="thumb">
                        <img src="../../../../assets/img/img//2.png" alt="Recordatorios">
                    </div>
                    <div class="descripcion">
                        <p class="nombre">Recordatorios</p>
                    </div>
                </div>
                <div class="servicio">
                    <div class="thumb">
                        <img src="../../../../assets/img/img//3.png" alt="Comunidad">
                    </div>
                    <div class="descripcion">
                        <p class="nombre">Comunidad</p>
                    </div>
                </div>
                <div class="servicio">
                    <div class="thumb">
                        <img src="../../../../assets/img/img//4.png" alt="Servicio de Cuidadores">
                    </div>
                    <div class="descripcion">
                        <p class="nombre">Servicio de Cuidadores</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Sección "Contactos" -->
    <section class="contactos">
        <div class="contenedor-contacto">
            <h4 class="contactoTitulo">¿Quieres contactarte con nosotros?</h4>
            <a (click)="irContacto()" class="btn">Contáctanos aquí</a>
        </div>
    </section>
</section>
